<br>
<br>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.2.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/analyzeTmpl.css" charset="utf-8">
<link rel="stylesheet" type="text/css" href="/css/analyzeCharts.css" charset="utf-8">
<link rel="stylesheet" type="text/css" href="/css/loginTmpl.css" charset="utf-8">

<div class="analyze-body">
	<div>
		<loggedin-header-dir></loggedin-header-dir>
	</div>

	<div ng-controller="mainUrlCtrl" class="analyze-page-container container">
		<div ng-controller="mainTextCtrl" class="row">

			<div class="upload-container col-xs-12">
				<br><br>
				<h3 class="analyze-body-header">Analyze your text</h3>

				<div class="text-submission">
					<h4>Enter your text here:</h4>
					<textarea rows="4" cols="50" ng-model="textToAnalyze"></textarea>
					<button class="btn btn-primary btn-xs btn-data-submit btn-analyze-text" ng-click="getMultiText(textToAnalyze)">Analyze Text</button>
				</div>
				<br>
				
				<div class="url-submission">
					<h4>Analyze a website:</h4>
					<input type="text" value="" ng-model="urlToAnalyze">
					<button class="btn btn-primary btn-xs btn-data-submit" ng-click="getMultiUrl(urlToAnalyze);">Analyze Website</button>
				</div>
				<br>
				
				<div class="file-submission">
					<h4>Upload a file (.txt)</h4>
					<input type="text" value="" ng-model="fileToAnalyze">
					<button class="btn btn-primary btn-xs btn-data-submit">Choose file</button>
					<button class="btn btn-primary btn-xs btn-data-submit" ng-click="getMultiText(fileToAnalyze)">Analyze</button>
				</div>
				<br>
			</div>

			<br>

			<div ng-controller="navPanelTabs" class="analyze-results-container col-xs-12">

					<div class="nav-left-panel col-xs-2 sidebar">
						<h3 class="nav-left-panel-header">Analyses</h3>
						<ul class="nav nav-pills nav-stacked" role="tablist">
							<li role="presentation" class="active"><a href=".sentiment-data-cont" aria-controls="sentiment" role="tab" data-toggle="pill">Sentiment</a></li>
							<li role="presentation"><a href=".emotion-data-cont" aria-controls="Emotion" role="tab" data-toggle="pill">Emotion</a></li>
							<li role="presentation"><a href=".tone-data-cont" aria-controls="Concepts" role="tab" data-toggle="pill">Tone</a></li>
							<li role="presentation"><a href=".personality-data-cont" aria-controls="Concepts" role="tab" data-toggle="pill">Personality</a></li>
							<li role="presentation"><a href=".political-data-cont" aria-controls="Political" role="tab" data-toggle="pill">Political</a></li>
							<li role="presentation"><a href=".keywords-data-cont" aria-controls="Keywords" role="tab" data-toggle="pill">Keywords</a></li>
							<li role="presentation"><a href=".concepts-data-cont" aria-controls="Concepts" role="tab" data-toggle="pill">Concepts</a></li>
							<li role="presentation"><a href=".entities-data-cont" aria-controls="Concepts" role="tab" data-toggle="pill">Entities</a></li>
							<li role="presentation"><a href=".persona-data-cont" aria-controls="Persona" role="tab" data-toggle="pill">Persona</a></li>
						</ul>
					</div>

<!--                     <div class="results-title-container col-xs-10">
						<p class="results-title">TITLE</p>
					</div> -->

					<div class="results-panel-right col-xs-10">
						<div class="results-content tab-content col-xs-12">
						<!-- To understand TA results: http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/tone-analyzer/understanding-tone.shtml -->

							<div role="tabpanel" class="sentiment-data-cont tab-pane fade in active col-xs-12" ng-if="indc_response.sentimentHQ">
								<display-sentiment sentiment-data="indc_response.sentimentHQ"></display-sentiment>
								{{indc_response.sentimentHQ}}<br>{{al_sentimentScore}}
							</div>

							<div role="tabpanel" class="emotion-data-cont tab-pane fade col-xs-12" ng-if="indc_response.emotion">
								<display-emotion emotion-data="indc_response.emotion"></display-emotion>
							<!-- ng-repeat="emotion in emotions" -->
								<!-- Alchemy - <br>Anger: {{al_emotions.anger}}<br>Disgust: {{al_emotions.disgust}}<br>Fear: {{al_emotions.feat}}<br>Joy: {{al_emotions.joy}}<br>Sadness: {{al_emotions.sadness}}<br> -->
							</div>

							<div role="tabpanel" class="tone-data-cont tab-pane fade col-xs-12" ng-if="ta_documentTone">
								<display-tone tone-data="ta_documentTone"></display-tone>
							</div>

							<div role="tabpanel" class="personality-data-cont tab-pane fade col-xs-12" ng-if="indc_response.personality">
								<display-personality personality-data="indc_response.personality"></display-personality>
							</div>

							<div role="tabpanel" class="political-data-cont tab-pane fade col-xs-12" ng-if="indc_response"><!-- ng-repeat="(key, val) in political" -->
								<display-political political-data="indc_response.political"></display-political>
							</div>

							<div role="tabpanel" class="keywords-data-cont tab-pane fade col-xs-12">
								<display-keywords keywords-data="indc_response.keywords"></display-keywords>
								INDICO - <br>Keywords (x5): {{indc_response.keywords}}, relevance: {{}}
							</div>

							<div role="tabpanel" class="concepts-data-cont tab-pane fade col-xs-12" ng-repeat="concept in concepts">
								<display-concepts concepts-data="indc_response.concepts"></display-concepts>
 								Concepts (x5): {{indc_response.concepts[0].text}}, relevance: {{indc_response.concepts[0].relevance}}
											<br>{{indc_response.concepts[1].text}}, relevance: {{indc_response.concepts[1].relevance}}
											<br>{{indc_response.concepts[2].text}}, relevance: {{indc_response.concepts[2].relevance}}
											<br>{{indc_response.concepts[3].text}}, relevance: {{indc_response.concepts[3].relevance}}
											<br>{{indc_response.concepts[4].text}}, relevance: {{indc_response.concepts[4].relevance}}
							</div>

							<div role="tabpanel" class="entities-data-cont tab-pane fade col-xs-12" ng-repeat="entity in entities">
								<display-entities entities-data="indc_response.entities"></display-entities>
								Entities (x5):<br>{{indc_response.entity[0].text}}<br>relevance: {{indc_response.entity[0].relevance}}<br>type: {{indc_response.entity[0].type}}<br>count: {{indc_response.entity[0].count}}
							</div>

							<div role="tabpanel" class="persona-data-cont tab-pane fade col-xs-12" ng-if="indc_persona_response">
								<display-persona persona-data="indc_response.persona"></display-persona>
								{{indc_persona_response}}<br>Advocate<br>Debater<br>Mediator<br>Consul<br>Executive<br>Adventurer<br>Logistician<br>Commander<br>Entrepreneur<br>Logician<br>Protagonist<br>Architect<br>Campaigner<br>Entertainer<br>Defender<br>Virtuoso<br>
							</div>

						</div>
					</div>

			</div>

			<div class="footer col-xs-12">
				
			</div>

		</div>
	</div>

</div>