<div id="chartPersonality1" class="results-chart personality-discretebar-chart col-lg-6 col-md-8 col-xs-12">

	<svg class="chartPersonality1 col-sm-12"></svg>

</div>

<div class="results-data-table col-lg-6 col-md-4 col-xs-12">
	<h3 class="results-data-table-title col-xs-12">Personality</h3>
	<div class="results-data-table-details col-xs-12">
		<h4>Openness:</h4>
		&nbsp;&nbsp;{{personalityData.openness}}
		<h4>Extraversion:</h4>
		&nbsp;&nbsp;{{personalityData.extraversion}}
		<h4>Agreeableness:</h4>
		&nbsp;&nbsp;{{personalityData.agreeableness}}
		<h4>Conscientiousness:</h4>
		&nbsp;&nbsp;{{personalityData.conscientiousness}}
	</div>
</div>
