
<div class="results-chart political-pie-chart with-3d-shadow with-transitions col-lg-6 col-md-8 col-xs-12">

    <svg id="piePolitical1" class="mypiechart col-sm-12"></svg>

</div>

<div class="results-data-table col-lg-6 col-md-4 col-xs-12">
    <h3 class="results-data-table-title col-xs-12">Political</h3>
    <div class="results-data-table-details col-xs-12">
        <h4>Libertarian:</h4>
        	{{politicalData.Libertarian}}
        <h4>Liberal:</h4>
        	{{politicalData.Liberal}}
        <h4>Green:</h4>
        	{{politicalData.Green}}
        <h4>Conservative:</h4>
        	{{politicalData.Conservative}}
    </div>
</div>